/* 
 *  1. 基础属性
 *  2. 小模具,配置
 *  2. 工厂-组装
 *  3. 具体的产品
 *  @desc 这里主要用到了Less的 “模式匹配” 与 “Mixins as Functions”
 *  @desc 事实上，今天再回想下，这些代码有违背奥卡姆剃刀原理；
 * */
a {
  font-weight: bold;
  font-size: 22px;
}
.gbtn,
.gbtn-link {
  line-height: 28px;
  padding: 4px 6px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 0px;
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  font-weight: normal;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.gbtn .test,
.gbtn-link .test {
  text-decoration: none;
}
.gbtn:hover,
.gbtn:focus,
.gbtn.focused,
.gbtn-link:hover,
.gbtn-link:focus,
.gbtn-link.focused {
  text-decoration: none;
}
.gbtn:active,
.gbtn.active,
.gbtn-link:active,
.gbtn-link.active {
  outline: 0;
  background-image: none;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.gbtn.disabled,
.gbtn[disabled],
fieldset[disabled] .gbtn,
.gbtn-link.disabled,
.gbtn-link[disabled],
fieldset[disabled] .gbtn-link {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  box-shadow: none;
}
/* 颜色 */
/* gbtn in form */
/* gbtn in switch */
/* 尺寸 */
.gbtn-default,
.gbtn-link-default {
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;
  text-decoration: none;
}
.gbtn-default:hover,
.gbtn-default:focus,
.gbtn-default.focus,
.gbtn-default:active,
.gbtn-default.active,
.open > .dropdown-toggle.gbtn-default,
.gbtn-link-default:hover,
.gbtn-link-default:focus,
.gbtn-link-default.focus,
.gbtn-link-default:active,
.gbtn-link-default.active,
.open > .dropdown-toggle.gbtn-link-default {
  color: #333333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.gbtn-default:active,
.gbtn-default.active,
.open > .dropdown-toggle.gbtn-default,
.gbtn-link-default:active,
.gbtn-link-default.active,
.open > .dropdown-toggle.gbtn-link-default {
  background-image: none;
}
.gbtn-default.disabled,
.gbtn-default[disabled],
fieldset[disabled] .gbtn-default,
.gbtn-default.disabled:hover,
.gbtn-default[disabled]:hover,
fieldset[disabled] .gbtn-default:hover,
.gbtn-default.disabled:focus,
.gbtn-default[disabled]:focus,
fieldset[disabled] .gbtn-default:focus,
.gbtn-default.disabled.focus,
.gbtn-default[disabled].focus,
fieldset[disabled] .gbtn-default.focus,
.gbtn-default.disabled:active,
.gbtn-default[disabled]:active,
fieldset[disabled] .gbtn-default:active,
.gbtn-default.disabled.active,
.gbtn-default[disabled].active,
fieldset[disabled] .gbtn-default.active,
.gbtn-link-default.disabled,
.gbtn-link-default[disabled],
fieldset[disabled] .gbtn-link-default,
.gbtn-link-default.disabled:hover,
.gbtn-link-default[disabled]:hover,
fieldset[disabled] .gbtn-link-default:hover,
.gbtn-link-default.disabled:focus,
.gbtn-link-default[disabled]:focus,
fieldset[disabled] .gbtn-link-default:focus,
.gbtn-link-default.disabled.focus,
.gbtn-link-default[disabled].focus,
fieldset[disabled] .gbtn-link-default.focus,
.gbtn-link-default.disabled:active,
.gbtn-link-default[disabled]:active,
fieldset[disabled] .gbtn-link-default:active,
.gbtn-link-default.disabled.active,
.gbtn-link-default[disabled].active,
fieldset[disabled] .gbtn-link-default.active {
  background-color: #ffffff;
  border-color: #cccccc;
}
.gbtn-default .badge,
.gbtn-link-default .badge {
  color: #ffffff;
  background-color: #333333;
}
.gbtn-lg,
.gbtn-link-lg {
  padding: 8px 12px;
  font-size: 18px;
  line-height: 1.5;
  border-radius: 0px;
}
.gbtn-sm,
.gbtn-link-sm {
  padding: 3px 5px;
  font-size: 12px;
  line-height: 1.33;
  border-radius: 0px;
}
.gbtn-xs,
.gbtn-link-xs {
  padding: 1px 3px;
  font-size: 12px;
  line-height: 1.33;
  border-radius: 0px;
}
.gbtn-block {
  display: block;
  width: 100%;
}
.gbtn-block + .gbtn-block {
  margin-top: 5px;
}
input[type="submit"].gbtn-block,
input[type="reset"].gbtn-block,
input[type="button"].gbtn-block {
  width: 100%;
}
.gbtn-link {
  color: #337ab7;
  font-weight: normal;
  border-radius: 0;
}
.gbtn-link,
.gbtn-link:active,
.gbtn-link.active,
.gbtn-link[disabled],
fieldset[disabled] .gbtn-link {
  background-color: transparent;
  box-shadow: none;
}
.gbtn-link,
.gbtn-link:hover,
.gbtn-link:focus,
.gbtn-link:active {
  border-color: transparent;
}
.gbtn-link:hover,
.gbtn-link:focus {
  color: #23527c;
  text-decoration: underline;
  background-color: transparent;
}
.gbtn-link[disabled]:hover,
fieldset[disabled] .gbtn-link:hover,
.gbtn-link[disabled]:focus,
fieldset[disabled] .gbtn-link:focus {
  color: #777777;
  text-decoration: none;
}
